* {
    padding: 0;
    margin: 0;
}

.pai-todos {
    display: grid;
    grid-template-rows: 10vh 90vh 10vh;
    grid-template-columns: 1fr ;
    grid-template-areas:"head head head"
                        "main main main"
                        "foot foot foot";
    
}
header {
    background: orange;
    display: grid;
    grid-template-columns:175px 1fr ;
    justify-items: end;
    align-items: center;
    grid-area: head; /*defife id do grid-area */
}

button {
    margin-right: 80px;
    border: 0px;
    height: 30px;
    width: 100px;
}

p {
    margin-right: 35px;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
}

.card {
    border:2px solid blue;
}

.img-card {
    height: 80%;
    width: 100%;
}

.rodape{
    display: grid;
    grid-area: foot;
    background: rgb(68, 67, 64);   
    align-items: center;
}

.footer {
    margin: 10px;
    color: rgb(255, 255, 255);
}

.principal2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    justify-content: center;
    margin: 20px;
}



